server/keys.py

# ignore ALL files in ANY directory specified here
myenv/
**/__pycache__/
.cache/
.env
source_data/
chroma/
logs/
LLM-Knowledge-Pool-RAG/
Rawlinsons Construction Cost Consultants and Quantity Surveyors, (editor) - Rawlinsons Australian construction handbook 2021 (2021).pdf
chroma/
ifc_files/
csv_files/
ifc_viewer_vite/node_modules/
chroma/chroma.sqlite3
.venv/